name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.24.7

    - name: build_ui
      run: make npm_install build_ui

    - name: go vet
      run: go vet ./...

    - name: test
      run: make test

    - name: build backend
      run: make build_backend