name: Build release

on:
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.24.7

      - name: Build binaries
        run: make build_all

      - name: Upload Darwin AMD64
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-darwin-amd64.tar.gz

      - name: Upload Darwin ARM64
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-darwin-arm64.tar.gz

      - name: Upload Linux AMD64
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-linux-amd64.tar.gz

      - name: Upload Linux ARM64
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-linux-arm64.tar.gz

      - name: Upload Linux ARM32 v6
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-linux-arm-6.tar.gz

      - name: Upload Linux ARM32 v7
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-linux-arm-7.tar.gz

      - name: Upload Window AMD64
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-windows-amd64.zip

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Extract Docker tag
        id: extract_tag
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/build.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            vsimakhin/web-logbook:${{ env.TAG }}
            vsimakhin/web-logbook:3
            vsimakhin/web-logbook:latest