name: Build release

on:
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21.8

      - name: Build binaries
        run: make build_all

      - name: Upload Darwin AMD64
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-darwin-amd64.tar.gz

      - name: Upload Darwin ARM64
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-darwin-arm64.tar.gz

      - name: Upload Linux AMD64
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-linux-amd64.tar.gz

      - name: Upload Linux ARM64
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-linux-arm64.tar.gz

      - name: Upload Linux ARM32 v6
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-linux-arm-6.tar.gz

      - name: Upload Linux ARM32 v7
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-linux-arm-7.tar.gz

      - name: Upload Window AMD64
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/web-logbook-windows-amd64.zip

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Extract tag name
        id: extract_tag
        run: echo "::set-output name=tag::${GITHUB_REF#refs/tags/}"
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/build.Dockerfile
          push: true
          tags: |
            vsimakhin/web-logbook:${{ steps.extract_tag.outputs.tag }}
            vsimakhin/web-logbook:latest
